*{
  padding: 0;
  margin: 0;
  border: 0;

}

.parallax-container{
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);
  overflow: hidden;

}

.parallax-item{
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: inherit;
  top: 0px;
scrollbar-width: none;
}

.slide-inl{
opacity: 0;
transition: opacity 250 ms, transform 400ms;
transform: translateX(-50);
}
.slide-inr{
opacity: 0;
transition: opacity 250 ms, transform 400ms;
transform: translateX(50);
}

.slide-inl.appear,
.slide-inr.appear{


}
.op-in{


}
