body{
  background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: center;:
}

table{
  width:50vw;
  left: 25vw;
  position: relative;
  color: #fff;
  background-color: var(--primary);
  opacity: .9;
  margin-top: calc(20vh + 1.2rem);
}
table, th, td {
  border: 2px solid #888;
  border-collapse: collapse;
  font-family: "Eco", Calibri;
  font-size: 1.1rem;
  padding-left: 10px;
}
table th{
  font-size: 1.5rem;
}
table .input{
  background-color: var(--accent);
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
.ontable{
  position: relative;
  top: 20vh;
  margin-left: 5vw;
  display: inline-flex;
  width: 19vw;
}
.btnsub{
  width: 100%;
  height:100%;
}

#Weardo{
margin: 20px 0 0 65vw;
}

.numb{
  background-color: var(--accent);
  padding-top: .5vh;
  padding-bottom: .5vh;
  width: 40%;
  margin: 0 1vw 0 1vw;
  color: white;
  font-size: 1.1rem;
  font-family: "Eco", Calibri;
  position: relative;
  -moz-appearance: textfield;
  text-align: center;
}
.numb::-webkit-outer-spin-button,
.numb::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Aftertext{
  width:40%;
  display:inline-flex;
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  background-color: #111;
  cursor: pointer;
  text-align: left;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:hover{
  background-color:var(--accent3);
}
input[type="checkbox"]:checked{
  background-color:var(--accent2);
}
input[type="checkbox"]::after{
  content: '\E800';
  font-family: "fontello";
  font-size:  40px;
}
input[type="checkbox"]:checked::after{
  content:  '\E801';
}
#check{
    align-items: center;
    display: flex;
    border: 1px 1px 1px 1px white;
}
label{
  color: white;
  font-size: 2rem;
  font-family: "Eco", Calibri;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
  height: 50px;

}
#name{
  font-size: 2.5rem;
}
footer{
  position: relative;
  margin-top: 20vh;
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.3) 0%, rgba(38,38,38,0) 100%);
}
