
#Videos-Titel{
  font-size: 18rem;
  color: white;
  font-family: "Raleway", Calibri;
  top: 50vh;
  position: relative;
  transform: translateY(-50%) ;
  -webkit-transform: translateY(-50%) ;
  -ms-transform: translateY(-50%) ;
  width: 100vw;
  text-align:  center;
  letter-spacing: 5rem;
}
#Interval-Res{
  height: auto;

  position: relative;
}
#Interval-Content{
  width: 100vw;
    transform: rotateZ(1.2deg);
}
#Video-sects{
  display: grid;
  grid-template-areas:"Select-Vid-Sec Main-Vid-Sec";
  padding: 3vw 2vw 0vw 2vw;
  width: 100vw;
  height: auto;
}

/* showcase */
#Main-Vid-Sec{
  display: grid;
  grid-template-areas: 'Main-video' 'Main-Video-Text' ;
  color: var(--white);
  font-family: "Raleway", Calibri;

  width:70vw;

}
#Main-Video-Text {
  font-family: "Eco", Calibri;
}

#Main-Video-Text{
  margin-top: 20px;
  padding: 0 20px 0 20px;
  width: 80%;
  margin: 40px auto;
}
#Main-Video-Text a{
  color: var(--accent3);
  text-decoration: none;
  transition: .5s;
}
#Main-Video-Text a:hover{
  color: var(--accent2);
}
#Main-Video-Text p{
  padding-top: 20px;
}
#Main-Video{
  padding: 0 20px 0 20px;
  width: 60vw;
  justify-content: center;
  display: flex;
  margin: auto;
}
/* video select */
#Select-Vid-Sec h2{
  color: var(--accent);
  font-family: "Eco", Calibri;
  margin: 20px 0 0 20px;
  font-size: 1.7rem;
  width: 45%;
  display: inline-block;
}
#Select-Vid-Sec #Selects{
  width: 50%;
  display: inline-flex;
  right: 5vw;

  margin-top: 10px;
  justify-content: right;
}

#Select-Vid-Sec{
  margin-top: 20px;
  width:30vw;

}
#vidbtns{
  display: inline-grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: auto;
  height: 80vh;
  overflow-y: scroll;
  margin-top: 1vh;
  padding-bottom: 5vh;

}
#Gradient{
  width: auto;
  height: auto;
}
#Gradient::after{
  content: '';
  width: 100%;
  height: 20%;
  background: linear-gradient(0deg, var(--primary) 15%, rgba(0,0,0,0) 100%);
  display: block;
  transform: translateY(-95%);
}
#Gradient::before{
  content: '';
  width: 35vw;
  height: 10%;
  background: linear-gradient(0deg,  rgba(0,0,0,0) 0%, var(--primary) 85%);
  display: block;
position: absolute;
z-index: 10;
}
/* width */
#vidbtns::-webkit-scrollbar {
 width: 10px;

}

/* Track */
#vidbtns::-webkit-scrollbar-track {
 background: var(--white);
border-radius: 100vw;
}

/* Handle */
#vidbtns::-webkit-scrollbar-thumb {
 background: var(--accent);
border-radius: 100vw;
}

/* Handle on hover */
#vidbtns::-webkit-scrollbar-thumb:hover {
 background: var(--accent2);
}
iframe{
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
        width: 55vw;
        height: 32.4vw;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
}
.dev-button:hover{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
  }
.dev-button{
    transition: .5s;
    cursor: pointer;
    width: 20vw;
    height: 11.2vw;
    min-width: 300px;
}
.dev-button img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.dev-button{
  margin:  2vw .5vw 0 2vw;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
}
#Partners-Sec{
  margin: 20px 0px 50px 0px;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: grid;

}
#Partners-Sec h2{
  color: var(--accent);
  font-family: "Raleway", Calibri;
  font-size: 4rem;
  margin: 0px 20px 40px 20px;

}
/* .partners{
  display: inline-flex;
  margin-left: 40px;
}
.partner-pic{
  width: 125px;
  border-radius: 50%;
}
.partners a{
  color: var(--white);
  font-family: "Eco", Calibri;
  display: grid;
  grid-template-areas: 'partner-pic''partner-text';
  text-shadow: 10px black;
  text-decoration: none;
  width: 125px;
  text-align: center;
  margin: 0 70px 0 0 ;
  transition: .5s;
}
.partners a:hover{
  color: var(--accent);
  text-shadow: 0 0 10px #000;
  transform: scale(1.05);
}
.partner-text{
  margin-top: 10px;
} */
.partners{
  display: block;
}
.partners a{
  color: var(--white);
  font-family: "Eco", Calibri;
  text-shadow: 10px black;
  text-decoration: none;
  width:40vw;
  height: auto;
  display: inline-block;
  text-align: center;
  margin: 0 2.5vw 5vh 2.5vw ;
  transition: .5s;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
}
.partners a:hover{
  transform: scale(1.05);
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.3);
}
.partner-pic{
width:100%;
}
.video-drop{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 120px;
  height: 40px;
  -webkit-padding-start: calc(10px - 3px);
  -moz-padding-start: calc(10px - 3px);
  background:var(--accent);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.video-drop option{
    background-color: var(--accent);
    color: #fff;
    outline: none;
    border: 0 0 0 0;
}
.video-drop option:hover{
  background-color: var(--accent2);
}
.partner-text::-ms-expand {
  display: none;
}
.partner:focus::-ms-value {
  background-color: transparent;
}
.haken{
  position: relative;
    width: 120px;
    margin-right: 30px;
}
.haken::before{
  font-family: "fontello";
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}
#Members{
  position: relative;
  width: 100%;
  justify-content: left;
  text-align: left;
  align-items: left;
  display: inline-block;
  padding-bottom: 5vh;

}
#Members h1{
  font-size: 3rem;
  font-family: "Eco", Calibri;
  width: 100%;
  margin: 30px 0 0 0;
  color: var(--accent);
  text-shadow: 0 0 10px #000;
 text-align: left;
}
.member{
  display: inline-flex;
  background-color: #00000000;
  min-height: 80px;
  min-width: 80px;
  max-height: 150px;
  max-width: 150px;
  width: 18vh;
  height: 18vh;
  margin: 2vh 1vw 0vh 0vw;
  transition: .5s;
  border-radius: 80%;
  overflow: hidden;
}
.member > img{
  width: 100%;
  transition: .5s;
  object-fit: cover;
  object-position: top;
}
.member:hover{
  transform: scale(1.2);
}
@media only screen and (max-width: 1500px){
  #Videos-Titel{
    font-size: 20vw;
    letter-spacing: 2rem;
  }
  #vidbtns{
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 1300px){
  #vidbtns{
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1000px){
  #vidbtns{
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 650px){
  #vidbtns{
    grid-template-columns: auto;
  }
}
@media only screen and (orientation: portrait){
  #Videos-Titel{
    font-size: 15vw;
    letter-spacing: 1rem;
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
      top: 50vh;
  }
  #Main-Vid-Sec{
    grid-template-areas: 'Main-video Main-Video-Text'
  }
  #Main-video{
    width: 100vw;
    position: absolute;
  }
  #Main-Video-Text{
      width: 85vw;
      position: relative;
      margin: 50vw 5vw 0 5vw;
  }
  iframe{
    width: 80vw;
    height: 45vw;
    left: 7vw;
  }
  #Select-Vid-Sec #Selects{
    width: 50vw;
  position: relative;}
}
@media only screen and (max-width: 1300px){
  #Videos-Titel{
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
  }
}

@media only screen and (max-width: 800px){
  #Main-Pic{
    filter: blur(0px);
  }
  #Select-Vid-Sec #Selects{
    justify-content: center;
  width: 100vw;
position: relative;}
  .haken{
    margin-left: 10px;
    transform: translateX(-30px);
  }
}
