body{
  background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: center;:
}
 h1{
  color: white;
  font-family: "Eco", Calibri;
}
table{
  width:95vw;
  left: 2.5vw;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
  opacity: .9;

}
table, th, td {
  border: 2px solid #888;
  border-collapse: collapse;
  font-family: "Eco", Calibri;
  font-size: 1.1rem;

}
table th{
  font-size: 1.5rem;
}
table .input{
  background-color: var(--accent);
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: "Raleway";
  margin-bottom: 30px;
}
select{
  padding: 0.6rem 1.3rem;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  background: var(--accent);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
}
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-color: #111;
  cursor: pointer;
  text-align: left;
  transition: .3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}
input[type="checkbox"]:hover{
  background-color:var(--accent3);
}
input[type="checkbox"]:checked{
  background-color:var(--accent2);
}
input[type="checkbox"]::after{
  content: '\E800';
  font-family: "fontello";
  font-size:  20px;
}
input[type="checkbox"]:checked::after{
  content:  '\E801';
}
.beschreibung{
  height: 35vh;
  padding: 5px;
}
.numb{
  background-color: var(--accent);
  padding-top: .5vh;
  padding-bottom: .5vh;
  width: 40%;
  margin: 0 1vw 0 1vw;
  color: white;
  font-size: 1.1rem;
  font-family: "Eco", Calibri;
  position: relative;
  -moz-appearance: textfield;
  text-align: center;
}
.numb::-webkit-outer-spin-button,
.numb::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pfeil::before{
  font-family: "fontello";
  content: "\f107";
  font-size: 25px;
  position: absolute;
  margin-left: 90px;
  margin-top: 1.3rem;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
}
.prev-thumb{
  overflow: hidden;
  width: 100%;
  height: 150px;
}
.prev-thumb img{
  object-fit: contain;
  object-position: center;
  max-width: 100%
}
#Upload-Wrap{
  position: relative;
  padding-top:5vh;
  margin-left:5vw;
  display: grid;
  color: white;
  width: 90vw;
  grid-template-areas: 'upload-sec descrip-sec';
}
#p1{
  width: 120px;
}
.sortdiv{
  display: inline-flex;
}
textarea {
  background-color: var(--primary);
  color: white;
  font-family: "Raleway", Calibri;
}
#cats-sec{
font-family: "Raleway", Calibri;
  margin-top: 20px;
  width: 90vw;
  color: white;
  margin-left: 5vw;
  font-size: 1.2rem;
display: inline-block;
position: relative;
  }
#cats-sec .btn{
  position: relative;
  display: inline;
}
#cats-sec .numb{
  width: 10vw;
  margin-bottom: 20px;
  transform: translateY(-10%);
}
#cats-sec div{
  width: 15vw;
  display: inline-flex;
  margin: 0 50px 0 50px;
}
#cats-sec input[type="checkbox"]{
  height: 50px;
  width: 50px;
  font-size: 2rem;
  margin-bottom: 20px;
}
.video-link{
  width:260px;
  margin-top: 10px;
}
#descrip-sec{
  width: 60vw;
  display: inline-grid;
}
#upload-sec{
  width: 20vw;
}
#Upload-Title{
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  font-family: "Eco", Calibri;
  position: relative;
  padding-top: 15vh;
}
#Audio-Btn,#Video-Btn,#Bild-Btn{
  background-color: var(--primary);
  min-width: 200px;
  min-height: 200px;
  color: white;
  margin: 40px;
  width: 40vh;
  height: 40vh;
  display: inline-flex;
  box-shadow: 0 0 30px 0 #000;
  align-items: center;
  justify-content: center;
}
#Audio-Btn:hover,#Video-Btn:hover,#Bild-Btn:hover{
  cursor: pointer;

}
#Select-Buttons{
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  display: flex;
}

#audio-svg,#Bild-svg,#video-svg{
  width: 70%;
  display: flex;
  position: relative;
}
 #Audio-Btn p, #Bild-Btn p, #Video-Btn p{
  font-size: 2rem;
  display: block;
  position: absolute;

}
#Audio-btn:hover #audio-svg{
  animation-name: bounce;
  animation-duration: 1s;
}

#Uploaded-Title{
  background-color: #333;
  font-family: "eco", Calibri;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding: 5px;
  color: white;
  display: grid;
}
@keyframes bounce{
  0% {}
  20%{transform: scaleX(.98) translateY(-.5vh);
    -webkit-transform: scaleX(.98) translateY(-.5vh);
    -ms-transform: scaleX(.98) translateY(-.5vh);}
  50%{transform: scaleX(1) translateY(.2vh);
    -ms-transform: scaleX(1) translateY(.2vh);
    -webkit-transform: scaleX(1) translateY(.2vh);}
  80%{transform: scaleX(.99) translateY(-.2vh);
    -ms-transform: scaleX(.99) translateY(-.2vh);
    -webkit-transform: scaleX(.99) translateY(-.2vh);
    -ms-transform: scaleX(1) translateY(0);
    -webkit-transform: scaleX(1) translateY(0);}
  100%{transform: scaleX(1) translateY(0);}
}


/* drag n drop */

.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: var(--accent);
  border: 4px dashed var(--primary);
  border-radius: 5px;
  transition: .5s;
}

.drop-zone--over {
    border: 4px solid var(--accent2);
    transition: .5s;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  background-position: center;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.titel-td{
  width: 20vw;
}

.besch-td{
  width: 30vw;
}


p{
  font-family: "Raleway";
  font-size:  15px;
}

.delMember{
  margin: 5px;
  padding: 0.3rem 2rem;
  text-decoration: none;
  font-family: "Eco", Calibri;
  border: 0;
  transition: 0.5s;
  cursor: pointer;
}

.delMember:hover{
  text-decoration: line-through;
}
