body{
    background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;

  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;:
}

table{
  width:40vw;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
  opacity: .9;
  margin-top: 15vh;
  margin-left: 5vw;
}
.tables{
  display: inline-flex;
}
table, th, td {
  border: 2px solid #888;
  border-collapse: collapse;
  font-family: "Eco", Calibri;
  font-size: 1.1rem;

}
table th{
  font-size: 1.5rem;
}
table .input{
  background-color: #444;
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
table select{
  padding: 0.6rem 1.3rem;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  background: #444;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
}

  

.pfeil::after{
  font-family: "fontello";
  content: "\f107";
  font-size: 25px;
  position: absolute;
  color: #fff;
  pointer-events: none;
  margin-left: -5%;
  transform: translateY(20%);
}

#besi-btn{

  display: inline-flex;
}
a{
  font-size: .85rem;
}
.btn{
width: 100%;
}
.btn:hover{
  cursor: pointer;
}
.numb{
  background-color: #444;
  padding-top: .5vh;
  padding-bottom: .5vh;
  width: 100%;

  color: white;
  font-size: 1.1rem;
  font-family: "Eco", Calibri;
  position: relative;
  -moz-appearance: textfield;
  text-align: center;
}
.numb::-webkit-outer-spin-button,
.numb::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#back{
  position: relative;
  display: inline-block;
  width: 20vw;
  margin-top: 5vh;
  text-align: center;
}
.selec{
  background-color: #444;
  opacity: .9;
}
footer{
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.3) 0%, rgba(38,38,38,0) 100%);
  position: relative;
  margin-top: 20vh;}
