
#Fotos-Titel{
  font-size: 15rem;
  color: white;
  font-family: "Raleway", Calibri;
  top: 50vh;
  position: relative;
  transform: translateY(-50%) translateX(-10%);
  -webkit-transform: translateY(-50%) translateX(-10%);
  -ms-transform: translateY(-50%) translateX(-10%);
  width: 100vw;
  text-align:  center;
  letter-spacing: 5rem;
}
#Interval-Res{
  position: relative;
  height: auto;

}

#Show-Cats{
  transform: rotateZ(1deg) translateY(1vw);
  -webkit-transform: rotateZ(1deg) translateY(1vw);
  -ms-transform: rotateZ(1deg) translateY(1vw);
  width: 90vw;
  margin: 0 5vw 0 5vw;
  padding: 5vh 0 5vh 0;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.cat-but h2{
  color: var(--white);
  font-family: "Eco", Calibri;
  margin-top: calc(169px + 1vh);
  width: 300px;
  text-align: center;
      transition: .25s;
      font-size: 1.5rem;
}
.cat-but{
  position: relative;
  margin: 2vh 2vw 2vh 2vw;
  display: inline-flex;
  width: auto;
  height: auto;
  background-color: #00000000;

}
.cat-but:hover{
    cursor: pointer;
}
.cat-but:hover .cats-pic-0{
  transform: scale(1) translateY(5px);
  -webkit-transform: scale(1) translateY(5px);
  -ms-transform: scale(1) translateY(5px);
}
.cat-but:hover .cats-pic-1{
  transform: scale(.9) translateY(-25px);
  -webkit-transform: scale(.9) translateY(-25px);
  -ms-transform: scale(.9) translateY(-25px);
}
.cat-but:hover .cats-pic-2{
  transform: scale(.8) translateY(-50px);
  -webkit-transform: scale(.8) translateY(-50px);
  -ms-transform: scale(.8) translateY(-50px);
}
.cats-pic-0, .cats-pic-1, .cats-pic-2{
  width: 300px;
  height: 169px;
  position: absolute;
  transition: .25s;
}
.cat-but:hover h2{
  text-shadow: 0 0 10px #000;
  cursor: pointer;
}
.cats-pic-0 img,.cats-pic-1 img,.cats-pic-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}
.cats-pic-1{
  transform: scale(.9) translateY(-20px);
  -webkit-transform: scale(.9) translateY(-20px);
  -ms-transform: scale(.9) translateY(-20px);
  z-index: -10;
  box-shadow: 0 0 20px 0 #000;
}
.cats-pic-2{
  transform: scale(.8) translateY(-40px);
  -webkit-transform: scale(.8) translateY(-40px);
  -ms-transform: scale(.8) translateY(-40px);
  z-index: -11;
  box-shadow: 0 0 30px 0 #000;
}
.cats-pic-0{
  box-shadow: 0 0 10px 0 #000;
}

#Photographers{
  position: relative;
  width: 100vw;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: inline-block;
  padding-bottom: 5vh;
  background-color: #5c233a20;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
#Photographers h1{
  font-size: 3rem;
  font-family: "Eco", Calibri;
  width: 100vw;
  margin: 30px 0 0 0;
  color: var(--white);
  text-shadow: 0 0 10px #000;
}
.fotograf{
  display: inline-flex;
  background-color: #00000000;
  min-height: 80px;
  min-width: 80px;
  max-height: 150px;
  max-width: 150px;
  width: 18vh;
  height: 18vh;
  margin: 4vh 5vw 6vh 5vw;
  transition: .5s;
  border-radius: 80%;
  overflow: hidden;
}
.ftop{
  transform: translateY(-15%);
}
.fbtm{
transform: translateY(30%);
}
.fotografdiv{
  min-height: 80px;
  min-width: 80px;
  max-height: 150px;
  max-width: 150px;
  width: 15vh;
  height: 15vh;
  border-radius: 80%;
  overflow: hidden;
  position: absolute;
  color: white;
  font-family: calibri;
  font-weight: bold;
  text-align: center;
}
.fotograf > img{
  width: 100%;
  transition: .5s;
  object-fit: cover;
  object-position: top;
}
.fotografname{
  position: relative;
  width:100%;
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  opacity: 0;
  transition: .5s;
}
.fotograf:hover img{
  filter: blur(5px);
}
.fotograf:hover .fotografname{
  opacity: 1;
}
.fotograf:hover{
  cursor: pointer;
}

#Interval-Res-Bot{
  position: relative;
  height: 70vh;
}
#Interval-Res-Back-Bot{
  position: absolute;
}
#Galery{
  height: 60vh;
  width: 80vw;
  overflow:  hidden;

  transform: rotateZ(1deg) translateY(1vw);
  -webkit-transform: rotateZ(1deg) translateY(1vw);
  -ms-transform: rotateZ(1deg) translateY(1vw);
  margin: 0 10vw 2vh 10vw;
  text-align: right;
  position: relative;
}
.grid{
    margin: 0 auto;
}
.grid-item{
  width:20%;
  overflow: hidden;
  min-width: 150px;
  transition: .25s;
}
.grid-item--width2{
  width:40%;
  min-width: 300px;
}
.grid-item--width3{
  width:60%;
  min-width: 300px;
}
.grid-item--width4{
  width:80%;
  min-width: 300px;
}
.grid-item img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: .25s;
}
.grid-item:hover img{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  z-index: 10;
  cursor: pointer;
}
.grid-item:hover{
  cursor: pointer;
}
.btn{
  margin:1vh 0 2vh 0;
  align-self: right;
}

#ShowBtn{
  width: 100vw;
  height: 20vh;
  position: absolute;
  transform: rotateZ(1deg) translateY(1vw);
  -webkit-transform: rotateZ(1deg) translateY(1vw);
  -ms-transform: rotateZ(1deg) translateY(1vw);
  z-index: 100;
  background: linear-gradient(00deg, var(--primary) 20%, rgba(0,0,0,0) 100%);
  top: 42vh;
  display: flex;
  justify-content: center;
}
#ShowBtn::before{
  position: absolute;
  content: "\f107";
  font-family: "fontello";
  font-size: 10rem;
  color: var(--white);
  animation-name: wiggle;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}
#ShowBtn:hover{
  cursor: pointer;
}
@keyframes wiggle{
  0% {transform: translateY(-0%);
-webkit-transform: translateY(-0%);
      -ms-transform: translateY(-0%);}
  10% {-ms-transform: translateY(-4%);
    -webkit-transform: translateY(-4%);
      transform: translateY(-4%);}
  20% {transform: translateY(20%);
    -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);}
  40% {transform: translateY(-1%);
    -webkit-transform: translateY(-1%);
      -ms-transform: translateY(-1%);}
  60% {transform: translateY(10%);
    -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);}
  80% {transform: translateY(-0%);
    -webkit-transform: translateY(-0%);
      -ms-transform: translateY(-0%);}
  100% {transform: translateY(-0%);
    -webkit-transform: translateY(-0%);
      -ms-transform: translateY(-0%);}
}

/* showe pics*/
.Img-Show-Back{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 50;
  display: none;
  justify-content: center;
  opacity: 0;
  transition: .25s;
}
.Pic-Contain{
  width: auto;
  height: auto;
  position: absolute;
  padding: 5vh 3vw 5vh 3vw;
  background-color: white;
  z-index: 51;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  position: fixed;
  justify-content: center;
  opacity: 0;
  display: none;
}
.Pic-Contain img{
  max-width: 80vw;
  max-height: 80vh;
  left:50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: relative;
}
.pic-Contain p, .pic-Contain a{
  display: inline;
  font-family: Courier New;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  top: 10px;
  position: relative;
}
.pic-Contain a{
  text-decoration: underline;
}
.pic-Contain a:hover{
  color: var(--accent2)
}
/*Kreuz */
.kreuz{
  height: 30px;
  width: 30px;
  position: absolute;
  align-items: center;
  z-index: 53;
  display: flex;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  transition: all 0.4s ease;
}
.kreuz > div{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #000;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 1;
  z-index: 100;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  border-radius: 5px;
}
.kreuz > div > div{
   position: relative;
   width: 100%;
   height: 3px;
   background-color: #000;
   align-items: center;
   display: flex;
   justify-content: center;
   transition: all 0.4s ease;
   opacity: 1;
   z-index: 100;
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
     border-radius: 5px;
 }
.kreuz:hover{
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -ms-transform:rotate(60deg);
  cursor: pointer;
}
/*next & prev*/
.btnhide{
  opacity: 0;
  display: none;
    height:100vh;
}
.btnshow{
  opacity: 1;
  display: block;
    height:100vh;
}
.btnnext:before, .btnlast:before{
  font-size: 4rem;
  width: auto;
  color: white;
  z-index: 55;
  top: 50vh;
  position: fixed;
  mix-blend-mode: difference;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.btnnext:before{
  content: "\e104";
  font-family: "fontello";
  left: 15px;
  position: fixed;
}
.btnlast:before{
  content: "\e105";
  font-family: "fontello";
  right: 15px;
  position: fixed;
}

.btnnext:hover, .btnlast:hover{
  cursor: pointer;
}

@media only screen and (orientation: portrait){
  #Fotos-Titel{
    font-size: 20vw;
    letter-spacing: 2rem;
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
      top: 20vh;
  }
  .fotograf{
    margin: 3vh 2.5vw 3vh 2.5vw;
  }

}
@media only screen and (max-width: 1300px){
  #Fotos-Titel{
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
  }
}
@media only screen and (max-width: 1000px){
  #Fotos-Titel{
    font-size: 20vw;
  }
}
@media only screen and (max-width: 800px){
  #Main-Pic{
    filter: blur(0px);
  }
  .fotografname{
    font-size: 1.5rem;

  }

}
@media only screen and (max-width: 500px){
  .Pic-Contain{
    padding: 7vh 6vw 7vh 6vw;
  }

}
