
#Wrap{
  position: relative;
  display: inline-block;
  margin: 10vh 1vw 0 1vw;
  width: 100vw;
  /* grid-template-areas: :'Foldersection Search-Div'
                        'Storage Storage'
                        'Datasection Datasection'; */
  padding: 0 2vw 0 2vw;
  height: 100vh;
}

#Search-Div{
  right: 0;
  position: absolute;
  width: 10vw;
  margin-right: 10vw;
}
#Search-Div input{
  background-color: var(--accent);
  color: white;
  height: 40px;
  width: 100%;
  padding:10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
#Foldersection{
  height: auto;
}
#Foldersection > h2{
  color: var(--white);
  font-family: Raylway, Calibri;
  font-size: 3rem;
}
#Folders{
  width: 100%;
}
.folder{
  background-color: var(--accent2);
  color: var(--accent);
  font-family:Calibri;
  font-size: 2rem;
  padding: 3px;
  min-width: 100px;
  min-height: 40px;
  height: auto;
  width: 10vw;
  max-width: 200px;
  max-height: 80px;
  margin: 1vh 1vw 1vh 0;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0  #000;
  transition: .5s;
}
.folder:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 0  #000;
  background-color: var(--accent);
  color: var(--white);
}

#Storage{
  color: var(--white);
  font-family:Calibri;
  font-size: 1.1rem;
  width: 94vw;
  text-align: right;

}
#Storage > p{
  position: relative;
  right: 0;
}

#Datasection{
  margin-top: 2vh;
}
#Datasection > h2{
  color: var(--white);
  font-family: Raylway, Calibri;
  font-size: 3rem;
}

.datei{
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  margin: 1vh 1vw 0 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px 0  #000;
  transition: .5s;
}
.datei img, .clicked img{
  object-fit: cover;
  object-position: center;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}
.imgdiv{
  height: 80%;
}
.datei p, .clicked p{
  color: var(--accent);
  font-family:Calibri;
  font-size: 1.5rem;
  height: 2vw;
  transition: .5s;
}
.datei > .datatext{
  position: relative;
  height: 2vw;
  background-color: var(--accent2);
  width: 100%;
  padding: 5px;
  transition: .5s;
  opacity: 1;
}
.datei > .datadescription{
  opacity: 0;
}
.datei:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 0  #000;
}
.datei:hover p{
    color: var(--white);
}
.datei:hover > .datatext{
  background-color: var(--accent);
}

/* click on Data*/

.clicked{
  width: 80vh;
  height: 80vh;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  cursor: auto;
  box-shadow: 0 0 30px 0  #000;
  transition: .5s;
  position: fixed;
  pointer-events: none;
}
.clicked > .datatext{
  opacity: 0;
  display: none;
}
.datadescription{
  transition: .5s;
}
.clicked > .datadescription{
  position: relative;
  height: 2vw;
  background-color: var(--accent2);
  width: 100%;
  padding: 5px;
  transition: .5s;
  opacity: 1;
}
.clicked button{
pointer-events: all;
}

/*Kreuz */
.kreuz{
  height: 30px;
  width: 30px;
  position: absolute;
  align-items: center;
  z-index: 53;
  display: flex;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  transition: all 0.4s ease;
  pointer-events: all;
}
.kreuz > div{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #000;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 1;
  z-index: 100;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  border-radius: 5px;
}
.kreuz > div > div{
   position: relative;
   width: 100%;
   height: 3px;
   background-color: #000;
   align-items: center;
   display: flex;
   justify-content: center;
   transition: all 0.4s ease;
   opacity: 1;
   z-index: 100;
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
     border-radius: 5px;
 }
.kreuz:hover{
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -ms-transform:rotate(60deg);
  cursor: pointer;
}
#Menage-Buttons{
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  display: flex;
}
#Menage-Buttons #upload-btn, #Menage-Buttons #folder-btn{
  justify-content: center;
  margin-right: 1vw;
  border-radius: 50%;
  display: flex;
  padding: 0;
}
#Menage-Buttons #upload-btn{
  width: 120px;
  height: 120px;
}
#Menage-Buttons #folder-btn{
  width: 80px;
  height: 80px;
}
#Menage-Buttons img{
  height: 50%;
  transform: translateY(50%);
}
footer{
  visibility: hidden;
  height: 0;
}

#Overlay{
  background-color: rgba(0,0,0, .7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
  transition-timing-function: ease;
}

#Overlay.active{
  opacity: 1;
  pointer-events: all;
    transform: translate(0,-0) scale(1);
}

#Uploadpopup{
  background-color: var(--accent2trans);
  padding: 2vh 1.5vw 2vh 1.5vw;
  border-radius: 10px;
  width: 30vw;
  min-width: 300px;
}
#Folderpopup{
  background-color: var(--accent2trans);
  padding: 2vh 1.5vw 2vh 1.5vw;
  border-radius: 10px;
  width: 30vw;
  min-width: 300px;
}
.popup-header{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;

}
.popup-header h2{
  font-family: Raleway, Calibri;
  font-size: 2rem;
  color: var(--accent3);
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.popup-bottom{
  display: inline-block;
  align-items: center;
  text-align: right;
  width: 100%;
}
.close-popup-button{
  border-radius: 5px;
  font-size: 2rem;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}
.privcheck{
  display: inline-flex;
  justify-content: space-between;
  font-family: Raleway, Calibri;
  font-size: 1.5rem;
  color: var(--accent3);
  width: 100%;
  margin: 2vh 0 1vh 0;
}
.popup{
  transition: .4s;
  position: fixed;
  z-index: 12;
  transition-timing-function: ease;
}
.uploadpopup{
  top: 90%;
  left: 90%;
  transform: translate(-50%,-50%) scale(0);
}
.folderpopup{
  top: 90%;
  left: 95%;
  transform: translate(-50%,-50%) scale(0);
}

.active{
  transform: translate(-50%,-50%) scale(1);
  top: 50%;
  left: 50%;
}






/* drag n drop */

.drop-zone {
  /* max-width: 200px;*/
  height: 30vh;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: var(--accent3);
  border: 4px dashed var(--accent2);
  border-radius: 10px;
  transition: .5s;
  margin-top:2vh;
}

.drop-zone--over {
    border: 4px solid var(--accent2);
    transition: .5s;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  background-position: center;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background-color: var(--accent2trans);
  cursor: pointer;
  text-align: left;
  transition: .3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

}
input[type="checkbox"]:hover{
  background-color:var(--accent3);
}
input[type="checkbox"]:checked{
  background-color:var(--accent2);
}
input[type="checkbox"]::after{
  content: '\E800';
  font-family: "fontello";
  font-size:  30px;
}
input[type="checkbox"]:checked::after{
  content:  '\E801';
}
input[type="text"]{
  background-color: var(--accent);
  color: white;
  height: 40px;
  width: auto;
  min-width: 20vw;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
