
#Videos-Titel{
  font-size: 18rem;
  color: white;
  font-family: "Raleway", Calibri;
  top: 50vh;
  position: relative;
  transform: translateY(-50%) ;
  -webkit-transform: translateY(-50%) ;
  -ms-transform: translateY(-50%) ;
  width: 100vw;
  text-align:  center;
  letter-spacing: 5rem;
}
#Interval-Res{
  height: auto;

  position: relative;
}

#Video-sects{
  transform: rotateZ(1.2deg);
  display: grid;
  grid-template-areas:
  "Select Video"
  "Partner Partner";
  padding: 3vw 2vw 2vw 2vw;
  width: 100vw;
}

/* showcase */
#Main-Vid-Sec{
  display: grid;
  grid-template-areas: 'Main-video' 'Main-Video-Text';
  color: var(--white);
  font-family: "Raleway", Calibri;
  grid-area: "Video";
}
#Main-Video-Text {
  font-family: "Eco", Calibri;
}

#Main-Video-Text{
  margin-top: 20px;
  padding: 0 20px 0 20px;
  width: 40vw;
}
#Main-Video-Text a{
  color: var(--accent3);
  text-decoration: none;
  transition: .5s;
}
#Main-Video-Text a:hover{
  color: var(--accent2);
}
#Main-Video-Text p{
  padding-top: 20px;
}
#Main-Video{
  padding: 0 20px 0 20px;
  width: 60vw;

}
/* video select */
#Select-Vid-Sec h2{
  color: var(--accent);
  font-family: "Eco", Calibri;
  margin: 20px 0 0 20px;
  font-size: 1.7rem;
  width: 100%;
    display: inline;
      grid-area: "Select";
}
#Select-Vid-Sec #Selects{
  width: 60%;
  display: inline-flex;
  right: 5vw;

  margin-top: 10px;
  justify-content: right;
}

#Select-Vid-Sec{
  margin-top: 20px;
  width: 35vw;
}
#vidbtns{
  display: inline-grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: auto;
}
iframe{
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
        width: 55vw;
        height: 32.4vw;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
}
.dev-button:hover{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
  }
.dev-button{
    transition: .5s;
    cursor: pointer;
    width: 20vw;
    min-width: 300px;
}
.dev-button img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.dev-button{
      margin:  2vw .5vw 0 2vw;
      box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
}
#Partners-Sec{
  margin: 20px 0px 50px 0px;
    grid-area: "Partner";
}
#Partners-Sec h2{
  color: var(--accent);
  font-family: "Eco", Calibri;
  font-size: 2rem;
  margin: 40px 20px 40px 20px;

}
.partners{
  display: inline-flex;
    margin-left: 40px;
}
.partner-pic{
  width: 125px;
  border-radius: 50%;
}
.partners a{
  color: var(--white);
  font-family: "Eco", Calibri;
  display: grid;
  grid-template-areas: 'partner-pic''partner-text';
  text-shadow: 10px black;
  text-decoration: none;
  width: 125px;
  text-align: center;
  margin: 0 70px 0 0 ;
  transition: .5s;
}
.partners a:hover{
  color: var(--accent);
  text-shadow: 0 0 10px #000;
  transform: scale(1.05);
}
.partner-text{
  margin-top: 10px;
}
.video-drop{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 120px;
  height: 40px;
  -webkit-padding-start: calc(10px - 3px);
  -moz-padding-start: calc(10px - 3px);
  background:var(--accent);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.video-drop option{
    background-color: var(--accent);
    color: #fff;
    outline: none;
    border: 0 0 0 0;
}
.video-drop option:hover{
  background-color: var(--accent2);
}
.partner-text::-ms-expand {
  display: none;
}
.partner:focus::-ms-value {
  background-color: transparent;
}
.haken{
  position: relative;
    width: 120px;
    margin-right: 30px;
}
.haken::before{
  font-family: "fontello";
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}
@media only screen and (max-width: 1500px){
  #Videos-Titel{
    font-size: 20vw;
    letter-spacing: 2rem;
  }
  #vidbtns{
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 1300px){
  #vidbtns{
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1000px){
  #vidbtns{
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 650px){
  #vidbtns{
    grid-template-columns: auto;
  }
}
@media only screen and (orientation: portrait){
  #Videos-Titel{
    font-size: 15vw;
    letter-spacing: 1rem;
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
      top: 50vh;
  }
  #Main-Vid-Sec{
    grid-template-areas: 'Main-video Main-Video-Text'
  }
  #Main-video{
    width: 100vw;
    position: absolute;
  }
  #Main-Video-Text{
      width: 85vw;
      position: relative;
      margin: 50vw 5vw 0 5vw;
  }
  iframe{
    width: 80vw;
    height: 45vw;
    left: 7vw;
  }
  #Select-Vid-Sec #Selects{
    width: 50vw;
  position: relative;}
}
@media only screen and (max-width: 1300px){
  #Videos-Titel{
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
  }
}

@media only screen and (max-width: 800px){
  #Main-Pic{
    filter: blur(0px);
  }
  #Select-Vid-Sec #Selects{
    justify-content: center;
  width: 100vw;
position: relative;}
  .haken{
    margin-left: 10px;
    transform: translateX(-30px);
  }
}
