
#Team-Titel{
  font-size: 18rem;
  color: white;
  font-family: "Raleway", Calibri;
  top: 50vh;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100vw;
  text-align:  center;
  letter-spacing: 5rem;
}
#Interval-Res{
  position: relative;
  height: auto;

}
#Team-sec{
  width:100vw;

  padding-top: 10vh;
  display: block;
  text-align: center;
}

.team-mitglied {
  display: inline-block;
  vertical-align: middle;
  height: 360px;
  width: 270px;
  overflow: hidden;
  margin: 4vh 3vw 4vh 3vw;
  box-shadow: 0 0 40px #000;
  transition: .5s;
}
#add{
  width: 200%;
  height: 200%;
  position: relative;
  background-color: rgba(0, 200, 0, 0);
  transition: .5s;
  transform: translateY(-100%);
  cursor: pointer;
  z-index: 2;
}

#add:hover{
  background-color: rgba(0, 200, 0, .8);
}
.contents{
  transform: translateY(-100%);
}
.team-mitglied img{
  position: relative;
  position: -moz-relative;
  position: -webkit-relative;
  z-index: 0;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  top: -30%;
  transition: .5s;
  display: block;
}

.team-text .social-team{
  opacity: 0;
  height: 30%;
  width: 100%;

}

.social-team a{
  padding: 0 10px 10px 0;
}
.social-team a img{
  height: 90%;
  width: auto;
}
.team-text{
  position: relative;
  width: 100%;
  height: 30%;
  top: 70%;
  background-color: #40152680;
  z-index: 1;
  transition: .5s;
}


.team-text  h3{
  position: relative;
  font-size: 2rem;
  color: var(--accent3);
  font-family: "Raleway", Calibri;
  text-align: center;
  padding: 10px 10% 0 10%;
  vertical-align: inherit;
  transition: .5s;
  height: 30%;
}

.team-text p{
  color: #fff;
  font-family: "Raleway", Calibri;
  padding: 0 20px 0 20px;
  transform-origin: center;
  opacity: 0;
  transition: .5s;
  text-align: left;
 height: 50%;
 position: relative;
}

.team-text img{
  width: calc(100%/4 - 18px);
  display: inline-block;
  opacity: 0;
  margin:0;
  position: relative;
  padding: 0 10px 0 10px;
  top: -5%;
}

    .team-img{
      pointer-events: all;
    }
#interval-team{
  height: auto;
  margin-top: -20px;
}
#interval-backdrop-team{
  width: 105vw;
}
@media only screen and (orientation: portrait){
  #Team-Titel{
    font-size: 20vw;
    letter-spacing: 2rem;
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
      top: 50vh;

  }
  #Main-Pic{
    opacity: .9;
  }
}
@media only screen and (max-width: 800px){
  #Main-Pic{
    filter: none;
  }
}
@media only screen and (max-width: 1000px){
  #Team-Titel{
    font-size: 20vw;
  }
}
@media (max-resolution: 1dppx) {
  .team-text img{
    margin:100px 0 0 0;
  }
}
